*{
    margin:0%;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    background-color: black;
    height:10vh;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    align-items: baseline;
    margin: auto;
    padding:0px 30px;
}
nav ul{
    justify-content:center ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button{
    height:40px;
    width:90px;
    color:white;
    background-color: #29d9d5;
    border: 1px solid #29d9d5;
    border-radius: 10px;
}

nav ul li{
    padding-left:20px ;
    list-style: none;
    
}
i{
    font-size: 40px;
    color:#29d9d5;
    border-radius: 2px;
    text-align: baseline;
}
a{
    color:white;
    text-decoration: none;  
}
a:hover{
    color:black;
}
#main{
    padding:0px 20px;
}
#header{
    height:120px;
    width:100%;
    background-color: #FFCACA;
    border-radius: 15px;
    margin-top: 10px;
    text-align: left;
    font-size: 24px;
    padding: 30px;
    
}
.heading{
    margin-bottom:10px ;
    color: blue;
}
#grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px 15px;
    margin: auto;
    gap: 45px;
}
.box{
    height: 300px;
    width:450px;
}
img{
    height: 300px;
    width:450px;
    background-size: cover;
    border-radius: 20px;
}
img:hover{
    color:rgba(0, 0,0, 0.3);  
}
section{
    width:100vw;
    height: 500px;
    text-align: center;
    background-image: url("/images/aaker-gFmBquOaFDE-unsplash.jpg");
    background-size:cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color:white;
}
section div {
    justify-content: baseline;
}
section div h1 {
    font-size: 50px;
}
section div h2 {
    font-size:30px;
}
footer{
    padding: 40px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
p{
    margin: 5px;
    font-size: 20px;
}
#section-btn {
    width:150px;
    height: 40px;
    font-size: 20px;
}
footer div {
    display: flex;
    flex-direction: column;
}
footer div p {
    margin-left: 0px;
}
footer div p i {
    padding-right: 20px;
}
div .con3 {
    vertical-align: baseline;
}
.con3 button {
    width: 150px;
}