*{
    margin:0%;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    background-color: black;
    height:60px;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* position: fixed;
    top: 0%;
    width: 100%; */
    bottom: 10px;
    font-size: 20px;
    padding: 15px 20px;

}
nav ul{
    justify-content:center ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button{
    background-color: black;
    height:40px;
    width:70px;
    color:#29d9d5;
    border: 1px solid #29d9d5;
    border-radius: 10px;
}

nav ul li{
     padding-left:20px ;
    list-style: none;
}
i{
    height: 30px;
    width: 30px;
    color:#29d9d5;
    border: 1px solid #29d9d5;
    border-radius: 2px;
    margin: 5px;
}
a{
    color:white;
    text-decoration: none;  
}
a:hover{
    color:#29d9d5;
}
#main{
    padding:0px 20px;
}
#header{
    height:120px;
    width:100vw;
    background-color: #FFCACA;
    border-radius: 15px;
    margin-top: 10px;
    text-align: left;
    font-size: 24px;
    padding: 30px;
    
}
.heading{
    margin-bottom:10px ;
    color: blue;
}
#grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
    gap: 15px;
}
.box{
    height: 300px;
    width:450px;
}
img{
    height: 300px;
    width:450px;
    background-size: cover;
    border-radius: 20px;
}
img:hover{
    color:rgba(0, 0,0, 0.3);  
}
section{
    height: 200px;
    text-align: center;
    background-image: url("./images/nithin-p-john-LDwHoFJYlpE-unsplash.jpg");
}
footer{
    padding: 40px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
p{
    margin: 5px;
}